model = "gpt-5.4"
model_reasoning_effort = "medium"
personality = "pragmatic"
service_tier = "fast"

[features]
collaboration_modes = true

[projects."{{ .chezmoi.homeDir }}/conductor"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/conductor/repos/changer-all"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/Desktop"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/conductor/repos/ow-management-v1"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/conductor/repos/rwa-sample"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/conductor/repos/sbi-rwapf-workspace"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/conductor/repos/fastpoker"]
trust_level = "trusted"

[mcp_servers.pencil]
command = "/Applications/Pencil.app/Contents/Resources/app.asar.unpacked/out/mcp-server-darwin-arm64"
args = [ "--app", "desktop" ]
